.footer {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.footerText {
  color: #ff00ff;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-height: 500px) and (orientation: landscape) {
  .footer {
    height: 60px;
  }
}
